/AuraSth.Ventas.AccesoADatos/nbproject/private/
/AuraSth.Ventas.EntidadesDeNegocio/nbproject/private/
/AuraSth.Ventas.LogicaDeNegocio/nbproject/private/
/AuraSth.Ventas.UI.WebApp/nbproject/private/
/AuraSth.Ventas.AccesoADatos/dist/
/AuraSth.Ventas.AccesoADatos/build/
/AuraSth.Ventas.EntidadesDeNegocio/build/
/AuraSth.Ventas.EntidadesDeNegocio/dist/
/AuraSth.Ventas.LogicaDeNegocio/dist/
/AuraSth.Ventas.LogicaDeNegocio/build/
/AuraSth.Ventas.UI.WebApp/dist/
/AuraSth.Ventas.UI.WebApp/build/
